OPENAI_API_KEY=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
OPENAI_VISION_MODEL=gpt-4o-mini
OPENAI_PROMPT_ID=pmpt_6a1fadf598e881949b173ba09638499305643a274f2502a2
OPENAI_PROMPT_VERSION=1
DATA_DIR=./data
MAX_RENDER_SECONDS=120
